<!-- Including header -->
<%- include('header') -%>
    <!-- Body -->
    <body class="bg-light">
        <!-- Section: Team v.3 -->
        <section class="team-section my-5">

            <!-- Section heading -->
            <h2 class="h1-responsive font-weight-bold text-center my-5">Our amazing team</h2>
            <!-- Section description -->
            <p class="blue-grey-text text-center w-responsive mx-auto mb-5">Lorem ipsum dolor sit amet, consectetur
                adipisicing elit. Fugit, error amet numquam iure provident voluptate esse quasi, veritatis totam voluptas
                nostrum quisquam eum porro a pariatur veniam.</p>

            <!-- Grid row-->
            <div class="row text-center text-md-left">

                <!-- Grid column -->
                <div class="col-xl-6 col-lg-12 mb-5 d-md-flex justify-content-between">
                    <div class="avatar mb-md-0 mb-4 mx-4">
                        <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20(32).jpg" class="rounded z-depth-1" alt="Sample avatar">
                    </div>
                    <div class="mx-4">
                        <h4 class="font-weight-bold mb-3">John Doe</h4>
                        <h6 class="font-weight-bold grey-text mb-3">Web Designer</h6>
                        <p class="blue-grey-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod eos id officiis hic
                            tenetur.</p>
                        <!-- Facebook-->
                        <a class="p-2 fa-lg fb-ic teal-text">
                            <i class="fab fa-facebook-f"> </i>
                        </a>
                        <!-- Twitter -->
                        <a class="p-2 fa-lg tw-ic teal-text">
                            <i class="fab fa-twitter"> </i>
                        </a>
                        <!--Dribbble -->
                        <a class="p-2 fa-lg dribbble-ic teal-text">
                            <i class="fab fa-dribbble"> </i>
                        </a>
                    </div>
                </div>
                <!-- Grid column -->

                <!-- Grid column -->
                <div class="col-xl-6 col-lg-12 mb-5 d-md-flex justify-content-between">
                    <div class="avatar mb-md-0 mb-4 mx-4">
                        <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20(20).jpg" class="rounded z-depth-1" alt="Sample avatar">
                    </div>
                    <div class="mx-4">
                        <h4 class="font-weight-bold mb-3">Maria Kate</h4>
                        <h6 class="font-weight-bold grey-text mb-3">Photographer</h6>
                        <p class="blue-grey-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod eos id officiis hic
                            tenetur.</p>
                        <!-- Facebook-->
                        <a class="p-2 fa-lg fb-ic teal-text">
                            <i class="fab fa-facebook-f"> </i>
                        </a>
                        <!--YouTube -->
                        <a class="p-2 fa-lg yt-ic teal-text">
                            <i class="fab fa-youtube"> </i>
                        </a>
                        <!--Instagram-->
                        <a class="p-2 fa-lg ins-ic teal-text">
                            <i class="fab fa-instagram"> </i>
                        </a>
                    </div>
                </div>
                <!-- Grid column -->

            </div>
            <!-- Grid row-->

        </section>
        <!-- Section: Team v.3 -->
    </body>
    <!-- Body -->
<!-- Including footer -->
<%- include('footer') -%>
