    <!-- Footer -->
    <footer class="page-footer font-small teal pt-4">

        <!-- Footer Text -->
        <div class="container-fluid text-center text-md-left">

            <!-- Grid row -->
            <div class="row">

                <!-- Grid column -->
                <div class="col-md-6 mt-md-0 mt-3">

                    <!-- Content -->
                    <h5 class="text-uppercase font-weight-bold bg-light black-text">PMS-APP</h5>
                    <p>This project is under the term and condition to protect user variours credential information.
                    It provides a secure platform to store essential information like password, wallet,
                    credit card info etc.</p>

                </div>
                <!-- Grid column -->

                <hr class="clearfix w-100 d-md-none pb-3">

                <!-- Grid column -->
                <div class="col-md-6 col-lg-6 col-xl-6 mx-auto mb-md-0 mb-6">

                    <!-- Links -->
                    <h5 class="text-uppercase font-weight-bold bg-light black-text">Contact</h5>
                    <p>
                        <i class="fas fa-home mr-3"></i> Odisha, India</p>
                    <p>
                        <i class="fas fa-envelope mr-3"></i> admin@pms.com</p>
                    <p>
                        <i class="fas fa-phone mr-3"></i> + 01 234 567 88</p>

                </div>
                <!-- Grid column -->

            </div>
            <!-- Grid row -->

        </div>
        <!-- Footer Text -->

        <!-- Copyright -->
        <div class="footer-copyright text-center py-3 ">© 2020 Copyright:
            <a href="https://mdbootstrap.com/"> MDBootstrap.com</a>
        </div>
        <!-- Copyright -->

    </footer>
    <!-- Footer -->
</html>